NEXT_PUBLIC_SUPABASE_URL=your_supabase_url_here
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key_here
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key_here
SPORTS_RADAR_API_KEY=your_sports_radar_api_key_here
CFBD_API_KEY=your_cfbd_api_key_here
BRAVE_API_KEY=your_brave_api_key_here
BEARER_API_KEY=your_bearer_api_key_here
ATHROPIC_API_KEY=your_anthropic_api_key_here
PFF_PASSWORD=your_pff_password_here
PFF_EMAIL=your_pff_email_here



